
/*#0F2C40 #3CB2FF #36A0E5 #2D85BF #1CAEB2*/
* {
  	margin:0px;
  	padding:0px;
    text-decoration: none;
    list-style: none;
}
input{
  color: black;
}
header {
  display: inline-block;
  background: #36A0E5;
  border-top: #0F2C40 5px solid;
  width: calc(100%-10px);
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content:space-between;
}
header .Logo {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
}
header .Menú {
  width: 25%;
  height: 80px;

}
/*#0F2C40 #2D85BF #36A0E5 #2D85BF #1CAEB2*/
header .Menú ul {
  display: flex;
  justify-content: space-around;
}
header .Menú ul li{
  background: #2D85BF;
  padding: 18px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 13px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.2s;
}
header .Menú ul li:hover{
  background: #0F2C40;
  border-radius: 5px;
  color:white;
}
header .Menú ul li:hover > a{
  color:white;
  font-weight: 600;
}
header .Menú ul li a{
  color:black;
  text-decoration: none;
}




header .Buscador {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
}
header .RegistroLoginHeader {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
}



header .Logo img{
  width: 100%;
}

header .Buscador form input {
  padding: 20px;
  border-radius: 10px;
  margin-top: 13px;
  width: 120%;
  border: none;
}
/*#0F2C40 #2D85BF #36A0E5 #2D85BF #1CAEB2*/

header .RegistroLoginHeader a.SinIniciarSesión{
  padding: 5%;
  border-radius: 5px;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  height: 25px;
  background:#2D85BF ;
  color:#000;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  margin-top: 13px;
  transition: 0.3s;
}
header .RegistroLoginHeader a.SinIniciarSesión:hover{
  background: #0F2C40;
  border-radius: 10px;
  color: white;
}
header .RegistroLoginHeader .SesiónIniciada {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border:none;
  margin-top: 5px;
  transition: 0.2s;
}
header .RegistroLoginHeader .SesiónIniciada img{
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

/*#0F2C40 #3CB2FF #36A0E5 #2D85BF #1CAEB2*/

.MenuDesplegableUsuario {
  position: absolute;
  background: #36A0E5;
  margin-top: 90px;
  width: calc(20% - 100px);
  text-align: center;
  padding: 30px;
  border: #0F2C40 solid 10px;
  display: none;

}
/*#0F2C40 #3CB2FF #36A0E5 #2D85BF #1CAEB2*/

.MenuDesplegableUsuario ul li{
  padding: 10px;
  margin-top: 10px;
  background:  #2D85BF;
  transition: 0.2s;
}
.MenuDesplegableUsuario ul li:hover{
  background: #0F2C40 ;
}
.MenuDesplegableUsuario ul li:hover > a{
  font-size: 20px;
  font-weight: 600;
}
.MenuDesplegableUsuario ul li a{
  color: white;
}
.MenuDesplegable {
  display: none;
}



@media only screen and (max-width: 1150px) {
  header .Buscador {
    width: 15%;
  }
  header .RegistroLoginHeader a.SinIniciarSesión{
    padding: 16px;
    font-size: 15px;
    width: 200%;
  }
  header .Menú ul li{
    background: #2D85BF;
    padding: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2.5px;
    font-size: 17px;
  }
  header .Logo {
  width: 30%;
  }
  header .Logo img{
    margin-top: 5px;
  }
}
@media only screen and (max-width: 800px) {
.MenuDesplegableUsuario {
  width: 100%;
  margin-left: -80%;
  border: none;
  padding: 0px;
  padding-bottom:30px;
  border-bottom: 10px solid #0F2C40;
}
}
@media only screen and (max-width: 770px) {
  header .Logo {
   display: none;
 }
  header .Menú{
    width:50%;
  }
  header .Menú ul li{
    padding-left: 20px;
    padding-right: 20px;
  }
  header .Buscador {
    width: 20%;
  }
}
@media only screen and (max-width: 450px) {
  header .Menú ul li{
    padding-left: 5px;
    padding-right: 5px;
  }
  header .Menú{
    width:40%;
  }
  header .Buscador {
    width: 20%;
    margin-left: -5%;
  }
}
@media only screen and (max-width: 350px) {
  header {
    display: inline-block;
    justify-content: none;
    height: 175px;
  }
  header .Menú{
    width: 100%;
  }
  header .Menú ul li{
    padding-left: 20px;
    padding-right: 20px;
}
  header .Buscador {
    float: left;
    width: 40%;
    margin-left: 2%;
  }
    header .RegistroLoginHeader {
      margin-left: 50%;
      width: 40%;
    }
    .MenuDesplegableUsuario {
      margin-left: -40%;
  }
}
